.greatContainer {
    padding-top: 1%;
    display: flex
}

.Container {
    color: #d4dada;
    background-color: #7994b8;
    height: 300px;
    width: 98%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 500px
}

.textContainer {
    display: grid;
    padding: 10px;
    font-size: x-large;
    width: 500px
}

.description {
    font-size: medium;
    width: 200px;
    font-weight: 600
}

.imageFirst {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 70px
}

.ımage {
    width: 300px;
    height: 300px
}

.stateActive,.stateBasic,.stateComing,.stateDeactive,.stateWait {
    background-color: #13bb37;
    font-size: 16px;
    font-weight: 600;
    width: 50px;
    height: 20px;
    border-radius: 6px;
    padding-top: 1px;
    padding-left: 8px;
    color: #e6e7e9
}

.stateBasic,.stateComing,.stateDeactive,.stateWait {
    background-color: #bb1313;
    width: 70px;
    color: #e4e7eb
}

.stateBasic,.stateComing,.stateWait {
    background-color: #f78f07;
    width: 110px;
    color: #f1f1f1
}

.stateBasic,.stateWait {
    background-color: #0b677e;
    width: 195px
}

.stateWait {
    background-color: #7e0b6b;
    width: 80px
}

.blockLink {
    padding-top: 10px;
    font-size: 16px;
    color: #10141a;
    width: 150px
}

@media only screen and (max-width:1249px) {
    .greatContainer {
        padding-top: 1%
    }


    .textContainer {
        display: grid;
        padding: 10px;
        font-size: large;
        width: 200px
    }

 
    .ımage {
        width: 300px;
        height: 300px
    }
}

@media only screen and (max-width:1149px) {

    .textContainer {
        display: grid;
        padding-left: 150px;
        padding-right: 300px;
        font-size: large;
        width: 200px
    }

  
}

@media only screen and (max-width:1049px) {
  
    .textContainer {
        display: grid;
        padding-left: 250px;
        padding-right: 300px;
        font-size: large;
        width: 200px
    }


    .ımage {
        width: 250px;
        height: 250px
    }

   
}

@media only screen and (max-width:949px) {
   
    .textContainer {
        display: grid;
        padding-left: 250px;
        padding-right: 200px;
        font-size: large;
        width: 200px
    }

    .ımage {
        width: 250px;
        height: 250px
    }

}

@media only screen and (max-width:849px) {
    .greatContainer {
        padding-top: 1%
    }

    .Container {
        height: 230px;
        width: 98%;     
    }

    .textContainer {
        display: grid;
        padding-left: 400px;
        padding-right: 200px;
        font-size: large;
        width: 200px
    }

    .description {
        font-size: small;
    }

    .ımage {
        width: 200px;
        height: 200px
    }

}

@media only screen and (max-width:649px) {
    .greatContainer {
        padding-top: 1%
    }

    .Container {
        height: 230px;
    }

    .textContainer {
        display: grid;
        padding-left: 400px;
        padding-right: 190px;
        font-size: large;
        width: 200px
    }

    .description {
        font-size: small;
    }

    .imageFirst {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 70px
    }

    .ımage {
        width: 150px;
        height: 150px
    }

}

@media only screen and (max-width:584px) {
    .greatContainer {
        padding-top: 1%;
        padding-left: 0
    }

    .Container {
        height: 200px;    
    }

    .textContainer {
        padding-left: 400px;
        padding-right: 150px;
        font-size: medium;
        width: 200px
    }

    .description {
        font-size: x-small;
        width: 200px;
        font-weight: 600
    }

    .ımage {
        width: 120px;
        height: 120px
    }

    .stateBasic,.stateComing,.stateDeactive,.stateWait {
        background-color: #bb1313;
        width: 60px;
        height: 17px;
        border-radius: 6px
    }
}

@media only screen and (max-width:551px) {
    .greatContainer {
        padding-top: 1%;
        padding-left: 0
    }

    .Container {
        height: 200px;
    }

    .textContainer {
        padding-left: 400px;
        padding-right: 150px;
        font-size: medium;
        width: 200px
    }

    .description {
        font-size: x-small;
        width: 200px;
        font-weight: 600
    }

    .imageFirst {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 70px;
        visibility: hidden
    }

    .ımage {
        width: 120px;
        height: 120px;
        visibility: hidden
    }

    .stateActive,.stateBasic,.stateComing,.stateDeactive,.stateWait {
        background-color: #13bb37;
        font-size: 12px;
        font-weight: 600;
        width: 40px;
        height: 16px;
        border-radius: 10px;
        padding-top: 1px;
        padding-left: 8px;
        color: #e4e7eb
    }

    .stateBasic,.stateComing,.stateDeactive,.stateWait {
        background-color: #bb1313;
        width: 60px;
        border-radius: 6px
    }

    .stateBasic,.stateComing,.stateWait {
        background-color: #f78f07;
        width: 85px;
        color: #fff
    }

    .stateBasic,.stateWait {
        background-color: #0b677e;
        width: 150px;
        color: #e4e7eb
    }

    .stateWait {
        background-color: #7e0b6b;
        width: 60px
    }

    .blockLink {
        padding-top: 10px;
        font-size: 12px;
        color: #10141a;
        width: 150px
    }
}

@media only screen and (max-width:401px) {
    .greatContainer {
        padding-top: 1%;
        padding-left: 0
    }

    .Container {
        color: #d4dada;
        background-color: #7994b8;
        height: 200px;
        width: 98%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .textContainer {
        padding-left: 400px;
        padding-right: 150px;
        font-size: small;
        width: 200px
    }

    .description {
        font-size: xx-small;
        width: 200px;
        font-weight: 600
    }

    .imageFirst {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 70px;
        visibility: hidden
    }

    .ımage {
        width: 120px;
        height: 120px;
        visibility: hidden
    }

    .stateActive,.stateBasic,.stateComing,.stateDeactive,.stateWait {
        background-color: #13bb37;
        font-size: 12px;
        font-weight: 600;
        width: 40px;
        height: 16px;
        border-radius: 10px;
        padding-top: 1px;
        padding-left: 8px;
        color: #e4e7eb
    }

    .stateBasic,.stateComing,.stateDeactive,.stateWait {
        background-color: #bb1313;
        width: 60px;
        border-radius: 6px
    }

    .stateBasic,.stateComing,.stateWait {
        background-color: #f78f07;
        width: 85px;
        color: #fff
    }

    .stateBasic,.stateWait {
        background-color: #0b677e;
        width: 150px;
        color: #e4e7eb
    }

    .stateWait {
        background-color: #7e0b6b;
        width: 60px
    }

    .blockLink {
        padding-top: 10px;
        font-size: 10x;
        color: #10141a;
        width: 150px
    }
}

@media only screen and (max-width:376px) {
  .greatContainer {
      padding-top: 1%;
      padding-left: 10
  }

  .Container {
      color: #d4dada;
      background-color: #7994b8;
      height: 120px;
      width: 98%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center
  }

  .textContainer {
      padding-left: 400px;
      padding-right: 150px;
      font-size: small;
      width: 200px
  }

  .description {
      font-size: xx-small;
      width: 200px;
      font-weight: 600
  }

  .imageFirst {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 70px;
      visibility: hidden
  }

  .ımage {
      width: 120px;
      height: 120px;
      visibility: hidden
  }

  .stateActive,.stateBasic,.stateComing,.stateDeactive,.stateWait {
      background-color: #13bb37;
      font-size: 12px;
      font-weight: 600;
      width: 40px;
      height: 16px;
      border-radius: 10px;
      padding-top: 1px;
      padding-left: 8px;
      color: #e4e7eb
  }

  .stateBasic,.stateComing,.stateDeactive,.stateWait {
      background-color: #bb1313;
      width: 60px;
      border-radius: 6px
  }

  .stateBasic,.stateComing,.stateWait {
      background-color: #f78f07;
      width: 85px;
      color: #fff
  }

  .stateBasic,.stateWait {
      background-color: #0b677e;
      width: 150px;
      color: #e4e7eb
  }

  .stateWait {
      background-color: #7e0b6b;
      width: 60px
  }

  .blockLink {
      padding-top: 10px;
      font-size: 10x;
      color: #10141a;
      width: 150px
  }
}
