.Container{
    color: #112d69;
    background-color: #73b6fa;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textContainer{
    display: grid;
    padding: 10px;
    font-size: xx-large;
    width: 550px;
}
.mainHeader{
    line-height: 60px;
}
.description{
    font-size: large;
    color: rgb(9, 7, 32);
    padding-top: 20px;
   
    width: 400px;
    font-weight: 600;
}
.imageFirst{
    padding-left: 120px;
}