.Container{
    color: rgb(212, 218, 218);
    background-color: #2596be;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textContainer{
    display: grid;
    padding: 10px;
    font-size: xx-large;
}
.mainHeader{
    line-height: 60px;
}
.description{
    font-size: large;
    color: rgb(9, 7, 32);
    padding-top: 20px;
}
.imageFirst{
    padding-left: 120px;
}